<!DOCTYPE html>
<html>
<head>
  <title>Plugin google meet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "plugin_google_meet/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
